<div class="admin-links">
  <div class="section-title">Links</div>
  <ul id="links">
    <li><a href="/?registryLoop=true" target="_blank">Register Particpants</a></li>
    <li><a href="http://prezi.com/cqe_8m5xm5ed/the-no-workshop/">Presentation</a></li>
    <li><a href="/qr" target="_blank">Particpant QR code</a></li>
    <li><a href="/rules" target="_blank">Rules</a></li>
    <li><a href="http://www.timer-tab.com/" target="_blank">Timer</a></li>
    <li><a href="http://sexstl.com/" target="_blank">SEX+STL Website</a></li>
  </ul>
</div>
