<script>
  $('#cupidCruncher').addClass('no-scroll');
</script>
<div class="play">
<div id="status">{{message}}</div>
<div id="participant">
  <label class="participant-number-label">Your #: </span>
  <span class="participant-number">{{participant.number}}</span>
</div>
<form id="partner" class="play-screen">
  <br/>
  <label for="partnerNumber">Your Partner's #:</label><br/><br/>
  <input type="number" id="partnerNumber" ng-model="participant.partner.number" min="1" max="200" class="switch-number partner-number"></input><br/><br/>
<!-- input type="number" id="partnerRating" ng-model="partner.rating" class="switch-number partner-number"></input><br/><br/ -->
  <div id="personalNote" style="display:none;">
    <label for="partnerNote">Optional personal note about this partner:<br/><span >(This will NOT be shared with anyone else)</span></label><br/>
    <textarea id="partnerNote" ng-model="participant.partner.note" class="partner-note"></textarea><br/><br/>
  </div>
  <button type="button" ng-click="switchPartner()" ng-disabled="isClean() || partner.$invalid" class="btn btn-primary bigger">Continue...</button>
</form>
<form id="questionSet" class="play-screen" style="display: none;">
  <br/>
  <label for="questionSetNumber">Choose a new question set...</label><br/><br/>
  <div id="questionSetExplaination">There are {{questions.length}} questions total divided into {{questionsSetTotal}} sets. Just pick a number between 1 and {{questionsSetTotal}} at random. Seriously! You're going to want to mix it up a little.<br/><span style="font-weight:bold; color: #551111;">Just make sure your partner is using the same question set you are on their paper form or web app!</span></div><br/>
  <input type="number" id="questionSetNumber" ng-model="questionSet.number" min="1" max="{{questionsSetTotal}}" class="switch-number question-set"></input><br/><br/>
  <button type="button" ng-click="switchQuestionSet()" ng-disabled="isClean() || questionSet.$invalid" class="btn btn-primary bigger">Continue...</button>
</form>
<form id="question" class="play-screen" style="display: none;">
  <div id="switchButtons">
  	<button ng-click="showSwitchPartner()" class="btn btn-primary bigger" style="margin-bottom:10px;">Partner's #: <span class="partner-number">{{participant.partner.number}}</span></button><div class="play-spacer"></div>
  	<button ng-click="showSwitchQuestionSet()" class="btn btn-primary bigger" style="margin-top: -10px;">Question Set: <span class="question-set">{{questionSet.number}}</span></button><div class="play-spacer"></div>
  </div>
  <div id="questionContainer" class="question-container resizable-container ui-corner-all">
    <div id="questions">
      <div class="question-number">
        <span>Question #:</span>
        <span>{{question.number}}</span>
      </div>
      <div id="questionNote" class="question-note">{{question.note}}</div>
      <div id="questionText" class="question-text resizable-container">{{question.text}}</div>
      <div id="answerYes" class="answer yes ui-corner-all">{{participant.partner.answer}}</div>
      <div id="answerMaybe" class="answer maybe ui-corner-all">{{participant.partner.answer}}</div>
      <div id="answerNo" class="answer no ui-corner-all">{{participant.partner.answer}}</div>
    </div>
  </div>
  <div id="answerButtons">
    <button ng-click="yes()" class="btn btn-primary bigger">Yes!</button>&nbsp;&nbsp;
    <button ng-click="maybe()" class="btn btn-primary bigger">Maybe?</button>&nbsp;&nbsp;
    <button ng-click="no()" class="btn btn-primary bigger">No.</button>
  </div>
  <div id="navigationButtons" style="display: none;">
    <button ng-click="change()" class="btn btn-primary big">...on second<br/>thought?</button>&nbsp;
    <button ng-click="saveParticipantAnswer()" class="btn btn-primary big">Next<br/>Question!</button>
  </div>
</form>
<div id="countdownTimer" class="countdown-timer"></div>
</div>