<!doctype html>
<html lang="en" ng-app="cruncher">
<head>
  <meta charset="utf-8">
  <title>{{application.event}}</title>
  <link rel="stylesheet" href="../css/cruncher.css"/>
</head>
<body ng-controller="registrationCtrl">
<center>
  <div class="app-container ui-corner-all">
    <img src="../img/sexstlbanner_ssm.png" style="display:inline"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h2 id="eventTitle" style="display:inline; vertical-align:middle;">{{application.event}}</h2>
    <br/>
    <h3 id="adminTitle">Administration Console</h3>

    <form name="registrationForm" class="registration-form">
      <div class="control-group" ng-class="{error: registrationForm.name.$invalid}">
        <label for="name" class="text">Name</label>
        <span ng-show="registrationForm.name.$error.required" class="help-inline">(Required)</span>
        <br/>
        <input type="text" name="name" ng-model="project.name" placeholder="...or nickname" required>
      </div>

      <input type="checkbox" name="nameMatchesOk" ng-model="project.nameMatchesOk"></input>
      <label for="nameMatchesOk">May we send your name to your matches?</label>

      <br/><br/>

      <div class="control-group" ng-class="{error: registrationForm.email.$invalid}">
        <label for="email" class="text">Email</label>
        <span ng-show="registrationForm.email.$error.required" class="help-inline">(Required)</span>
        <span ng-show="registrationForm.email.$error.email" class="help-inline">Not a valid email address</span>
        <br/>
        <input type="email" name="email" ng-model="project.email" placeholder="...so we can send you your matches!"  required>
      </div>

      <input type="checkbox" name="emailMatchesOk" ng-model="project.emailMatchesOk"></input>
      <label for="emailMatchesOk">May we send your email address to your matches?</label>

      <br/><br/>

      <div class="control-group" ng-class="{error: registrationForm.participantNumber.$invalid}">
        <label for="name" class="text">Participant Number</label>
        <br/>
        <span ng-show="registrationForm.participantNumber.$error.required" class="help-inline">(Required - Your "No" Workshop leader will assign you this)</span>
        <br/>
        <input type="number" name="participantNumber" ng-model="project.participantNumber" style="width:50px;" min="0" max="100" required>
      </div>

      <br/>

      <a href="#/" class="btn">Cancel</a>
      <button ng-click="register()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Continue</button>
    </form>

    <div id="footer">{{application.title}} version <span app-version>{{application.version}}</span></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>
  <!--script src="../lib/angular/angular.js"></script-->  
  <script src="../js/cruncher.js"></script>
  <script src="../js/services.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/filters.js"></script>
  <script src="../js/directives.js"></script>
</center>
</body>
</html>
