doctype html
html(lang="en", ng-app="cruncher")
 head
  meta(charset="utf-8")
  title= title
  link(rel='stylesheet', href='/css/questionSheet.css')
  script(type='text/javascript', src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js")
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js")
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js")
  script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.min.js")
  script(type='text/javascript', src="/js/cruncher.js")
  script(type='text/javascript', src="/js/services.js")
  script(type='text/javascript', src="/js/controllers.js")
  script(type='text/javascript', src="/js/filters.js")
  script(type='text/javascript', src="/js/directives.js")
 body#cupidCruncher
  center
   img(src="/img/sexstlbanner.png" style="margin-top:50px;")
   h2#presents ~ presents ~
   div#eventTitle The "No" Workshop
   br
   br
   br
   br
   img(src="/img/QR_tr.png" style="margin-top:50px;")
   br
   br
   br
   br
   h1
    a(href="http://cupidcruncher.herokuapp.com/") http://cupidcruncher.herokuapp.com/
   br
   br
   h3 Shameless Grounds WiFi Password:
   h1 smutpeddlers
   br
   br
  div#questionSheetContainer
   include static/questionSheets.html