<div class="admin-setup">
  <div class="section-title">Cupid Cruncher Setup</div>

<div style="color:red">Not fully implemented yet!</div>

  <div id="eventDetails">
  	<div>
  	  <label for="participantSplash">Participant Splash Screen:</label>
  	  <textarea id="participantSplash" name="participantSplash"></textarea>
  	</div>
  	<hr/>
  	<h2>Reference Data</h2>
  	<div>
  	  <label for="categories">Categories:</label>
  	  <input type="text" id="categories" name="categories"></input>
  	</div>
  	<div>
  	  <label for="categories">Moods:</label>
  	  <input type="text" id="categories" name="categories"></input>
  	</div>
  </div>
</div>