<div id="admin-eventDetails">
  <div class="section-title">Event Details</div>

<div style="color:red; float: right;">Not fully implemented yet!</div>

  <div id="eventDetails">
    <div>
  	  <label for="enableRegistration">Enable Registration:</label>&nbsp;
  	  <input type="checkbox" id="enableRegistration" class="big" ng-model="setup.enableRegistration" ng-click="enableRegistration()"></input>
  	</div>
  	<div>
  	  <label for="eventName">Event Name:</label>
  	  <input type="text" id="eventName" name="eventName" ng-model="project.eventName"></input>
  	</div>
  	<div>
  	  <label for="eventDate">Event Date:</label>
  	  <input type="date" id="eventDate" name="eventDate" ng-model="project.eventDate"></input>
  	</div>
  	<div>
  	  <label for="questionSetSize">Question Set Size:</label>
  	  <input type="number" id="questionSetSize" name="questionSetSize" value="5"></input>
  	</div>
  	<div>
  	  <label for="questionSetDuration">Question Set Duration:</label>
  	  <input type="number" id="questionSetDuration" name="questionSetDuration" value="2.5"></input>
  	  <span style="">&nbsp;Minutes</span>
  	</div>
  	<div>
  	  <label for="allowMaybes">Allow Maybes:</label>
  	  <input type="checkbox" id="allowMaybes" name="allowMaybes" ng-model="project.allowMaybes"></input>
  	</div>
  	<div>
  	  <label for="allowPartnerNotes">Allow Partner Notes:</label>
  	  <input type="checkbox" id="allowPartnerNotes" name="allowPartnerNotes" ng-model="project.allowPartnerNotes"></input>
  	</div>
  	<div>
  	  <label for="showNotesToParticipants">Show Notes To User:</label>
  	  <input type="checkbox" id="showNotesToParticipants" name="showNotesToParticipants" ng-model="project.showNotesToParticipants"></input>
  	</div>
  	<div>
  	  <label for="showTimer">Show Timer:</label>
  	  <input type="checkbox" id="showTimer" name="showTimer" ng-model="project.showTimer"></input>
  	</div>
  </div>
</div>