<div class="admin-questions">
  <div class="section-title">Participants</div>

<div style="color:red; float: right;">Not fully implemented!</div>

  <div id="status" style="color:red; padding: 20px; clear: both;">{{message}}</div> 
  <div id="participants">
    <table><tbody>
    	<tr>
    	  <th>Number</th>
    	  <th>Name</th>
    	  <th>Share</th>
    	  <th>Email</th>
    	  <th>Share</th>
    	  <th>Edit</th>
        <th>Report</th>
    	</tr>
    	<tr ng-repeat="participant in participants">
    	  <td>{{participant.number}}</td>
    	  <td>{{participant.name}}</td>
    	  <td><span class="name-matches-ok" ng-show="participant.nameMatchesOk">&#x2713;</span></td>
    	  <td>{{participant.email}}</td>
    	  <td><span class="email-matches-ok" ng-show="participant.emailMatchesOk">&#x2713;</span></td>
    	  <td><button type="button" id="editParticipantButton" class="btn btn-primary" ng-click="editParticipant()"><!--div class="ui-icon ui-icon-pencil"><div-->Edit</button></td>
        <td><button type="button" id="reportGenerationButton" class="btn btn-primary" ng-click="generateReport()">Run</button></td>
    	</tr>
    	<!-- tr>
    	  <td>{{participant.number}}</td>
    	  <td><input type="text" id="name" name="name"></input></td>
    	  <td><input type="checkbox" name="nameMatchesOk" ng-model="project.nameMatchesOk" class="big"></input></td>
    	  <td><input type="email" id="email" name="email"></input></td>
    	  <td><input type="checkbox" name="emailMatchesOk" ng-model="project.emailMatchesOk" class="big"></input></td>
    	  <td><button class="btn btn-primary"><div class="ui-icon ui-icon-disk"></div></button></td>
    	</tr -->
    </tbody></table>
  </div>
  <button type="button" id="updateParticipantsButton" ng-click="listParticipants()" class="btn btn-primary bigger">Update!</button>
</div>