<div class="admin-questions">
  <div class="section-title">Questions</div>

<div style="color:red; float: right;">Not fully implemented!</div>

  <div id="status" style="color:red; padding: 20px; clear: both;">{{message}}</div>
  <div id="questions">
    <table><tbody>
    	<tr>
    	  <th>Number</th>
    	  <th>Text</th>
    	  <th>Note</th>
    	  <th>Kinkiness</th>
    	  <th>Sweetness</th>
    	  <th>Friendliness</th>
    	  <th>Grossness</th>
        <th>Funniness</th>
        <th>Sexiness</th>
        <th>Intimacy Level</th>
    	  <th>Edit/Save</th>
    	</tr>
    	<tr ng-repeat="question in questions">
    	  <td>{{question.number}}</td>
    	  <td>{{question.text}}</td>
    	  <td>{{question.note}}</td>
    	  <td>{{question.kinkiness}}</td>
    	  <td>{{question.sweetness}}</td>
    	  <td>{{question.friendliness}}</td>
    	  <td>{{question.grossness}}</td>
        <td>{{question.funniness}}</td>
        <td>{{question.sexiness}}</td>
        <td>{{question.intimacyLevel}}</td>
    	  <td><div>edit icon</div></td>
    	</tr>
    	<!-- tr>
    	  <td>{{(question.number + 1)}}</td>
    	  <td><input type="text" id="text" name="text"></input></td>
    	  <td>
    	  	<select id="category" name="category">
    	  	  <option value="{{category.value}}">{{category.description}}</option>
    	  	</select>
    	  </td>
    	  <td>
    	  	<select id="crudeness" name="crudeness">
    	  	  <option value="{{crudeness.value}}">{{crudeness.description}}</option>
    	  	</select>
    	  </td>
    	  <td>
    	  	<select id="mood" name="mood">
    	  	  <option value="{{mood.value}}">{{mood.description}}</option>
    	  	</select>
    	  </td>
    	  <td><input type="text" id="note" name="note"></input></td>
    	  <td><input type="checkbox" name="enabled" ng-model="project.enabled"></input></td>
    	  <td><div>save icon</div></td>
    	</tr -->
    </tbody></table>
  </div>
  <br/>
  <a href="\admin\generateQuestionSheet" id="generateQuestionSheetButton" target="_blank" class="btn btn-primary">Generate Question Sheets</a>
</div>