<div ng-controller="registrationCtrl">
  <div class="welcome">Thank you for participating in The "No" Workshop!</div>
  <br/>
  <div class="privacy-welcome">Before we begin, let's go over some basic points to reassure you that the SEX+STL organization deeply respects your privacy and wishes to ensure this experience feels safe for all participants involved...</div>
  <br/>
  <div style="width:90%; text-align:left;">
    <ul class="privacy-points">
      <li>Your information (name and email address) will <b>NOT</b> be retained for any purposes by the organization after this event. It is only used in the context of this workshop.</li>
      <li>Your affirmative responses to questions may be retained for statistical curiosities (primarily to improve future iterations of the workshop), but will <b>NOT</b> bare any reference to your personally identifying information (see above).</li>
      <li>You may elect <b>NOT</b> to have your name OR email address shared with potential matches prior to beginning the workshop.</li>
      <li>You may absolutlely participate in the "No" workshop without sharing any personal information at all. All we ask is that you do wear a participant number to blend in with others.</li>
    </ul>
  </div>
  <br/>
  <a href="/qr" class="btn bigger">Cancel</a>
  <a href="/registration" class="registration btn btn-primary bigger">Continue</a>
</div>