<h2 id="appTitle">{{application.title}}</h2>
<h3 id="adminTitle">Administrative Login</h3>
<br/>
<form action="/admin" method="post" name="adminLoginForm" ng-submit="adminLogin();" class="registration-form">
  <div class="control-group" ng-class="{error: adminLoginForm.username.$invalid}">
    <label for="username" class="text">Username</label>
    <br/>
    <input type="text" name="username" ng-model="admin.username" placeholder="username" required>
  </div>
  <br/>
  <div class="control-group" ng-class="{error: adminLoginForm.password.$invalid}">
    <label for="name" class="text">Password</label>
    <br/>
    <input type="password" name="password" ng-model="admin.password" placeholder="***********" required>
  </div>
  <br/>
  <a href="/" class="btn big">Cancel</a>
  <button ng-click="loginAdmin()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary big">Login</button>
</form>
