<h3>Scan the QR code below with your mobile device to register for the workshop!</h3>
<p style="font-size: 1.4em; margin-bottom: -15px;">...or browse to <a href="http://cupidcruncher.herokuapp.com/">http://cupidcruncher.herokuapp.com/</a></p>
<table>
<tbody>
  <tr>
    <td class="qr-gr-top-left"></td>
    <td class="qr-gr-top"></td>
    <td class="qr-gr-top-right"></td>
  </tr>
  <tr>
    <td class="qr-gr-left"></td>
    <td class="qr-container">
      <a href="/"><img src="/img/QR_tr.png"/></a>
    </td>
    <td class="qr-gr-right"></td>
  </tr>
  <tr>
    <td class="qr-gr-bot-left"></td>
    <td class="qr-gr-bot"></td>
    <td class="qr-gr-bot-right"></td>
  </tr>
</tbody>
</table>
<p style="font-size: 1.5em; margin-top: -15px;"><span style="font-weight: bolder;">Note: </span><span style="color: red;">This is optional.</span> Just ask for a question sheet if you prefer paper.</p>
<br/><br/><br/>
<h5>
  <a href="/">Home</a>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a href="/rules">Rules</a>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a href="/login">Administration</a>
</h5>