<div ng-controller="registrationCtrl">
  <p id="privacyNotification">
    <span class="animate-show" ng-hide="participant.nameMatchesOk && participant.emailMatchesOk">Other participants will <b>NOT</b> see your <span ng-hide="participant.nameMatchesOk">name<span ng-hide="participant.emailMatchesOk"> or </span></span><span ng-hide="participant.emailMatchesOk">email address</span>.<br/></span>
    <span class="animate-show" ng-show="participant.nameMatchesOk || participant.emailMatchesOk">Other participants who match your questions <b>will</b> see your <span ng-show="participant.nameMatchesOk">name<span ng-show="participant.emailMatchesOk"> and </span></span><span ng-show="participant.emailMatchesOk">email address</span>.<br/></span>
  </p>
  <form id="registrationForm" action="register" method="post" name="registrationForm" class="registration-form">
  <!-- Need a mechanism to manage the events down the road, but for now we'll just hard code this eventName to be "SEXSTL No Workshop 2014-01-09" -->
    <input type="hidden" name="eventName" ng-model="participant.eventName" value="SEXSTL No Workshop 2014-01-09"></input>
    <input type="hidden" id="registryLoop" name="registryLoop"></input>
    <div class="control-group" ng-class="{error: registrationForm.name.$invalid}">
      <label for="name" style="display:block;">Name</label>
      <!-- don't know why we're missing the validation tooltip now when a user forgets to enter something here or in the email field. Probably something that broke with that whole Twitter Bootstrap fiasco. Oh well, fix that later. -->
      <span ng-show="registrationForm.name.$error.required" class="help-block">(Required)</span>
      <input type="text" name="name" ng-model="participant.name" placeholder="...or nickname" required>
    </div>
    <input type="checkbox" name="nameMatchesOk" class="big" ng-model="participant.nameMatchesOk"></input>
    <label for="nameMatchesOk">May we send your name to your matches?</label>
    <br/><br/>
    <div class="control-group" ng-class="{error: registrationForm.email.$invalid}">
      <label for="email" style="display:block;">Email</label>
      <span ng-show="registrationForm.email.$error.required" class="help-block">(Required)</span>
      <span ng-show="registrationForm.email.$error.email" class="help-block">Not a valid email address</span>
      <input type="email" name="email" ng-model="participant.email" placeholder="...if you want matches!"  required>
    </div>
    <input type="checkbox" name="emailMatchesOk" class="big" ng-model="participant.emailMatchesOk"></input>
    <label for="emailMatchesOk">May we send your email address to your matches?</label>
    <br/><br/>
    <a href="/" class="registrationCancel btn bigger">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="registerButton" type="button" ng-click="register()" ng-disabled="isClean() || registrationForm.$invalid" class="btn btn-primary bigger">Register!</button>
  </form>
  <form id="registrationConfirmation" class="registration" action="play" method="post" style="display:none;">
    <input type="hidden" id="registryLoop" name="registryLoop" value="{{loop}}"></input>
    <div class="message">Yay! You're ready to go {{participant.name}}!</div><br/><br/>
    <div class="message-number">Your number is:&nbsp;&nbsp;<span class="number">{{participant.number}}</span></div>
    <div class="message-reminder">Be sure your numbered sticker is visible to your partners!</div>
    <div class="message" ng-show="loop">Ready to register the next participant...<br/><br/><br/></div>
    <button type="submit" ng-disabled="isClean() || registrationConfirmation.$invalid" class="btn btn-primary bigger">Continue...</button>
  </form>
</div>