<label>Partner History</label>
<table class="partner-container ui-corner-all">
<tbody>
  <tr ng-repeat="partner in partners">
    <td class="partner-number">{{partner.number}}</td>
    <td class="partner-hotness">{{partner.hotness}}</td>
    <td class="partner-shareName">{{partner.shareName}}</td>
    <td class="partner-shareEmail">{{partner.shareEmail}}</td>
    <td class="partner-edit">
      <a href="#/edit/{{partner.$id}}"><i class="icon-pencil"></i></a>
    </td>
  </tr>
</tbody>
</table>

