<!--label>Partner Number:</label><span id="partnerNumber">{{partner.number}}</span-->
<button ng-click="switchPartner()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Partner Number: {{partner.number}}</button>&nbsp;
<!--label>Question Set:</label><span id="questionSet">{{questionSet}}</span-->
<button ng-click="switchQuestionSet()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Question Set: {{questionSet}}</button>
<div class="question-container ui-corner-all">
  <div class="question-number">{{question.number}}</div>
  <div class="question-text">{{question.text}}</div>
  <div class="question-note">{{question.note}}</div>
  <div class="countdown-timer">{{timer}}</div>
</div>
<div>
  <button ng-click="yes()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Yes!</button>&nbsp;
  <button ng-click="maybe()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Maybe?</button>&nbsp;
  <button ng-click="no()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">No.</button>
</div>
<div>
  <button ng-click="change()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">...on second thought</button>&nbsp;
  <button ng-click="maybe()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Next Question ></button>
</div>
